* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00b1f1;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

.container {
  max-width: 1200px;
  min-width: 1200px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  background-color: #cb3144;
  margin-bottom: 50px;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.online {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.nav {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  font-size: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 5px;
  text-shadow: 5px 3px 0px rgba(3, 3, 3, 0.644);
  font-weight: bold;
  color: #fff;
}

.navList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}

.navList li a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.navList li a:hover {
  font-weight: bold;
}

.coursesList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
}

.coursesListItems {
  width: 30%;
  text-align: center;
  height: 100px;
  border: 3px solid #cb3144;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
  border-radius: 10px;
}

.teachers {
  width: 100px;
  height: 25px;
  font-size: 14px;
  border: 2px solid rgba(0, 204, 255, 0.781);
  border-radius: 15px;
  position: absolute;
  transform: translate(-130px, 40px);
  background-color: #fff;
  cursor: pointer;
}

.teachers i {
  margin-left: 7px;
  transform: rotate(-90deg);
}

.groups {
  width: 100px;
  height: 25px;
  font-size: 14px;
  border: 2px solid rgba(0, 204, 255, 0.781);
  border-radius: 15px;
  position: absolute;
  transform: translate(130px, 40px);
  background-color: #fff;
  cursor: pointer;
}

.groups i {
  margin-left: 7px;
  transform: rotate(-90deg);
}

footer {
  width: 100%;
  height: 70px;
  background-color: #cb3144;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0%;
}
footer button {
  width: 170px;
  height: 30px;
  background-color: #fff;
  color: #cb3144;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  transition: all 0.3s ease;
}

footer button:hover {
  border: 2px solid #fff;
  color: #fff;
  background-color: #cb3144;
}

.modal {
  position: fixed;
  background: hsl(0 0% 100% / 0.1);
  backdrop-filter: blur(1rem);
  right: 0;
  left: 0;
  top: 0;
  z-index: 2;
  display: none;
  flex-direction: column;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}

.out {
  cursor: pointer;
}

.active {
  display: flex;
}

.modal h1 {
  margin-top: 50px;
  font-size: 40px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #000;
}

.modal i {
  transform: translate(500px, 88px);
  font-size: 30px;
  color: #161515;
  /* text-shadow: 3px 3px 3px  black; */
}

.modal ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal ul li {
  font-size: 20px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 5px;
}

.coursesListItems .cost {
  font-size: 20px;
  border: 2px solid #cb3144;
  width: 100px;
  height: 33px;
  border-radius: 17px;
  position: absolute;
  transform: translate(122px, -27px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#tName {
  font-size: 14px;
  border: 2px solid #cb3144;
  width: 180px;
  height: 22px;
  border-radius: 17px;
  position: absolute;
  transform: translate(83px, -32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.oursName {
  font-size: 18px;
}

#Sname {
  font-size: 20px;
}

.registration {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #fff;
  z-index: 3;
  display: none;
}

.rActive {
  display: flex;
}

.loadingWrapper {
  width: 100%;
  height: 100vh;
  background-color: #fff;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preWrapper {
  width: 200px;
  height: 180px;
  display: flex;
}

.loading1,
.loading2,
.loading3 {
  width: 110px;
  height: 110px;

  position: absolute;
  border-radius: 50%;
  animation-name: loading;
  transition: transform 0.6s ease;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
}

.loading1 {
  top: 36%;
  left: 46%;
  border-bottom: 4px solid #cb3144;
}

.loading2 {
  top: 47%;
  right: 42.7%;
  border-top: 4px solid rgba(240, 197, 8, 0.863);
}
.loading3 {
  top: 47%;
  border-right: 4px solid rgba(4, 226, 226, 0.863);
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingWrapper span {
  font-size: 20px;
  margin-top: 70px;
  font-weight: bold;
}

/* Login page styling */

.home {
  width: 100%;
  height: 100%;
}
.headerLogin {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  color: #cb3144;
}
.loginForm {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

label {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.loginWrapper {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 20px;
  padding: 5px;
}

.loginWrapper i {
  color: #b9b9b9;
}

.loginWrapper::before {
  content: "Login";
  width: 45px;
  text-align: center;
  position: absolute;
  transform: translateY(-14px);
  background-color: #fff;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b9b9b9;
}

.loginWrapper input {
  width: 93%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.passwordWrapper {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 20px;
  padding: 5px;
}

.passwordWrapper i {
  color: #b9b9b9;
  transform: rotate(45deg);
}
.passwordWrapper::before {
  content: "Password";
  width: 70px;
  text-align: center;
  position: absolute;
  transform: translateY(-14px);
  background-color: #fff;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b9b9b9;
}

.passwordWrapper input {
  width: 93%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.loginbtn {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  background-color: #cb3144;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
  transition: all 0.3s ease;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

.loginbtn:hover {
  color: #cb3144;
  background-color: #fff;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #cb3144;
  transform: scale(1.05);
}
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Registration section styling */

.registrationForm {
  max-width: 350px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.registrationForm .loginWrapper::before {
  content: "Name";
  width: 45px;
  text-align: center;
  position: absolute;
  transform: translateY(-17px);
  background-color: #fff;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b9b9b9;
}

.registrationForm .passwordWrapper::before {
  content: "Age";
  width: 35px;
  text-align: center;
  position: absolute;
  transform: translateY(-17px);
  background-color: #fff;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b9b9b9;
}

.registrationForm .passwordWrapper i {
  color: #b9b9b9;
  transform: rotate(0deg);
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.registrationForm select {
  width: 93%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
}

.registrationForm .jobsWrapper {
  width: 100%;
  height: 40px;
  border: 2px solid black;
  border-radius: 6px;
  margin-top: 20px;
  padding: 5px;
}

.registrationForm .jobsWrapper::before {
  content: "Specialization";
  width: 98px;
  text-align: center;
  position: absolute;
  transform: translateY(-17px);
  background-color: #fff;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b9b9b9;
}

.registrationForm .jobsWrapper i {
  color: #b9b9b9;
  transform: rotate(0deg);
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skills {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  margin-top: 20px;
}
.skills input {
  margin-right: 10px;
}

.skills i {
  margin-right: 5px;
  color: #cb3144;
}

.skills::before {
  content: "Additional Skills";
  width: 118px;
  text-align: center;
  position: absolute;
  transform: translateY(-22px);
  background-color: #fff;
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #b9b9b9;
}

.off {
  font-size: 40px;
  color: #cb3144;
  cursor: pointer;
  position: absolute;
  right: 50px;
  top: 70px;
  width: 40px;
  height: 40px;
}
